@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Silkscreen&display=swap");

body {
  font-family: "Silkscreen", cursive;

  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-flow: column nowrap;
  place-items: center;
  place-content: center;

  text-align: center;
}

h1 {
  display: block;
  font-family: "Bebas Neue", cursive;
  font-size: 80px;
  margin: 0;
  margin-bottom: 40px;
}

p {
  display: block;
  margin-bottom: 80px;
}

a {
  display: block;
  padding: 24px 40px;
  border: 1px solid black;
  border-radius: 100%;
  text-decoration: none;
}
