@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  font-family: 'Bebas Neue', cursive;

  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-flow: column nowrap;
  place-items: center;
  place-content: center;  

  gap: "40px";

  text-align: center;
}
